.background {
    background-image:
    linear-gradient(to bottom, rgba(18, 29, 28, 0.52), rgba(13, 28, 54, 0.73)),
    url('../img/garage.jpg');
    height: 100vh;
    background-size: cover;
    color: white;
    overflow:auto;
}

.text-center-h1 {
    font-family: 'Neon';
    text-align: center;
    font-size: 55px;
    margin: 30px;
    margin-bottom: 50px;
    color: #FBF267;
    animation: glow 0.50s ease-in-out infinite alternate-reverse;
}

.background h2 {
    font-family: 'Neon';
    margin-top: 20px;
    margin-left: 45px;
    color: #FBF267;
    animation: glow 0.50s ease-in-out infinite alternate-reverse;
}

.about {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  
.about p {
    padding: 10px;
    margin: 10px;
    margin-left: 20px;
}

.disc li {
    list-style-type: disc;
    margin: 10px;
    margin-left: 40px;
}

.circle li {
    list-style-type: circle;
    margin: 10px;
    margin-left: 40px;
}

.about code {
  background-color: rgb(15, 76, 79);  
  font-family: "Courier New", Courier, monospace;
  font-size: 19px;
  color:rgb(0, 254, 192);
  padding: 2px 6px;
  border-radius: 5px;
  margin: 10px;
}

@keyframes glow{
    100%{
        text-shadow:
        0 0 7px rgb(255, 62, 48),
        0 0 15px rgb(255, 62, 48),
        0 0 22px rgb(255, 62, 48),
        0 0 31px rgb(255, 62, 48);
    }
    0%{
        text-shadow:
        0 0 7px rgb(255, 62, 48),
        0 0 15px rgb(255, 62, 48),
        0 0 21px rgb(255, 62, 48),
        0 0 30px rgb(255, 62, 48);
    }
}

.neon-frame{
    background-color: rgba(44, 44, 44, 0.7);
    border-style: glow 0.50s ease-in-out infinite alternate-reverse;
    border: 1px solid #FC8E51;
	border-radius: 2px;
	display: block;
    line-height: 25px;
	font-size: 20px;
	padding: 10px;
	width: 80%;
    margin-bottom: 5%;
    padding-top: 30px;
    padding-bottom: 20px;
}
