.header {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .header-container {
    display: inline-flex;
    height: 100px;
  }
  
  .header-left {
    align-items: center;
    width: 206.96px;
    height: 40.26px;
  }
  
  .header-logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 110px;
    height: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    color: #FFFFFF;
  }
  
  .header-right {
    width: 150px;
    height: 27px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;
  }
  
  .header-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 362px;
    height: 27px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    gap: 25px;
    margin-right: 150px;
  }

  .nav-link {
    display: inline-block;
    text-align:center;
    width: 150px;
  }

  .gap {
    min-width: 100px;
  }
  
  .navbar-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-top: 10px;
    gap: 17px;
  }

  .signup2 {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;  
    width: 170px;
    height: 41px;
    border-radius: 11px;
    background-color: #29CECE;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
  }

  .signin2 {
    text-decoration: none;
    background-color: transparent;
    box-sizing: border-box;
    width: 170px;
    height: 41px;
    border: 1px solid #FFFFFF;
    border-radius: 11px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .signup2:hover {
    color: #cfcfcf;
    background-color: #1ea2a2;
    }
    
    .signin2:hover {
    color: #677a7a;
    border: 1px solid #677a7a;
    }