.repository {
    padding: 2%;
    background-color: #233233;
    margin-top: 5%;
    margin-bottom: 10%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.branches {
  font-size: 22px;
  font-weight: 500;
  gap: 20px;
}

.branches-button {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;  
  width: 125px;
  height: 40px;
  border-radius: 11px;
  background-color: #49B1BA;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 19px;
  line-height: 22px;
}

.branches-button:hover {
  color: #cfcfcf;
  background-color: #347F86;
  }

.folder {
    margin-top: 6px;
    background-color: rgb(10, 50, 52);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    width: 300px;
    cursor: pointer;
  }

.folder > span {
    margin: 0 5px;
  }
  
.file {
    margin-top: 5px;
    padding-left: 5px;
    display: flex;
    width: 300px;
  }

.file-code {
    background-color: rgb(10, 50, 52);
    font-family: "Courier New", Courier, monospace;
    font-size: 19px;
    color:rgb(0, 254, 192);
    padding: 12px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}