.background {
    background: linear-gradient(to right, #0B524E, #0F6B66, #159992);
    font-family: 'Poppins', sans-serif;
    overflow: auto;
}

#form {
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

#form h1 {
    color: #1d5871;
    text-align: center;
}

#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(41, 189, 194);
    border: none;
    border-radius: 4px;
}

.signin-form.col-md-6.mx-auto.mt-5.default-text {
    background-color: rgba(44, 44, 44, 0.7);
    border-style: glow 0.50s ease-in-out infinite alternate-reverse;
    border: 1px solid #DD4536;
	border-radius: 2px;
	display: block;
    line-height: 25px;
	font-size: 20px;
	padding: 30px;
	width: 50%;
    padding-bottom: 40px;
  }

.signup-form.col-md-6.mx-auto.mt-5.default-text {
    background-color: rgba(44, 44, 44, 0.7);
    border-style: glow 0.50s ease-in-out infinite alternate-reverse;
    border: 1px solid #DD4536;
	border-radius: 2px;
	display: block;
    line-height: 25px;
	font-size: 20px;
	padding: 30px;
	width: 50%;
    padding-bottom: 40px;
    margin-bottom: 150px;
  }

.form-control.shadow-none.mb-4 {
    background-color: rgb(15, 76, 79);  
    font-family: "Courier New", Courier, monospace;
    font-size: 19px;
    color:rgb(0, 254, 192);
    padding: 2px 6px;
    border-radius: 5px;
    margin: 10px;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #DD4536;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

.text-primary {
    color: yellow;
    text-decoration: none;
    font-weight: bold;
}
  
.text-primary:hover {
    color: darkblue;
    text-decoration: underline;
}

.error {
    color: #ff3860;
    font-size: 16px;
    height: 13px;
}

.validation-error {
    display: none;
}

.formularz.submitted .validation-error {
    display: block;
}