.frame-supp {
    background-color: #233233;
    border-style: glow 0.50s ease-in-out infinite alternate-reverse;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
	display: block;
    line-height: 26px;
	font-size: 20px;
	padding: 10px;
	width: 80%;
    margin-bottom: 5%;
    padding-top: 30px;
    padding-bottom: 20px;
}