.background-user {
    background-color: #192324;
    background-size: cover;
    height: 100vh;
    color: white;
    overflow: auto; 
}

.dashboard {
    padding: 2%;
    background-color: #233233;
    margin-top: 5%;
    margin-bottom: 10%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.frame-supp {
    background-color: #233233;
    border-style: glow 0.50s ease-in-out infinite alternate-reverse;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
	display: block;
    line-height: 26px;
	font-size: 20px;
	padding: 10px;
	width: 80%;
    margin-bottom: 5%;
    padding-top: 30px;
    padding-bottom: 20px;
}

.text-center-h3 {
    font-family: 'Roboto';
    text-align: center;
    font-size: 50px;
    margin: 20px;
    margin-bottom: 40px;
    color: white;
}

.h4 {
    font-family: 'Roboto';
    margin-top: 20px;
    margin-left: 50px;
    color: white;
}

.form-group {
    text-align: center;
    width: 600px;
    font-size: 30px;
}

.form-control-repo {
    background-color: rgb(10, 50, 52);  
    font-family: "Courier New", Courier, monospace;
    font-size: 19px;
    color:rgb(0, 254, 192);
    border-radius: 5px;
    margin-right: 10px;
    padding: 5px;
    width: 380px;
}

.create {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;  
    width: 100px;
    height: 41px;
    border-radius: 11px;
    background-color: #49B1BA;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
}

.create:hover {
    color: #cfcfcf;
    background-color: #347F86;
    }

.repositories {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
}    

.repo {
    background-color: #192324;
    position: relative;
    height: 150px;
    border-radius: 20px;
    font-family: 'Roboto';
    width: calc(50% - 20px);
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
    box-shadow: 1px 1px 3px #49B1BA;
}

.repoName {
    text-decoration: none; 
    color: #18CACA;
    font-size: 24px;
    font-weight: 500;
    margin-right: 10px;
}